.home-hero {
	overflow: hidden;

	&__wrapper {
		@include make-container;
		display: grid;
		grid-template: auto / auto;
		align-items: center;

		@include breakpoint( medium ) {
			grid-template: auto / auto minmax( 40%, #{rem(380)} );
			margin-top: rem( 200 );
			margin-bottom: rem( 200 );
		}

		@include breakpoint( xxlarge ) {
			margin-top: rem( 250 );
			margin-bottom: rem( 200 );
		}
	}

	&__image {
		transform: scale( 1.5 );
		transform-origin: right center;

		@include breakpoint( medium ) {
			transform: scale( 1.5 );
		}

		@include breakpoint( xxlarge ) {
			transform: scale( 1.8 );
		}

		@include breakpoint( 1800 ) {
			transform: scale( 1.9 ) translateY( rem( 10 ) );
		}

		@include breakpoint( 2200 ) {
			transform: scale( 2 ) translateY( rem( 10 ) ) translateX( rem( -90 ) );
		}
	}

	&__image-wrapper {
		@include breakpoint( small down ) {
			order: 2;
			margin-top: 5%;
			transform: rotate( 270deg );
		}
	}

	&__content {
		max-width: rem( 300 );
		margin-right: auto;
		margin-left: auto;
		text-align: center;

		@include breakpoint( small down ) {
			margin-top: rem( 140 );
		}

		@include breakpoint( 600 ) {
			max-width: rem( 500 );
		}

		@include breakpoint( medium ) {
			max-width: none;
			text-align: initial;
		}

	}

	&__heading,
	&__subheading {
		@include breakpoint( medium ) {
			text-align: right;
		}
	}

	&__heading {
		@include heading-underline;
		margin-bottom: 0.25em;
		font-size: rem( 60 );

		&:after {
			margin-right: 0;
			margin-left: auto;
			@include breakpoint( small down ) {
				@include block-center;
			}
		}


		@include breakpoint( 600 ) {
			font-size: rem( 80 );
		}

		@include breakpoint( medium ) {
			font-size: rem( 80 );
		}

		@include breakpoint( large ) {
			font-size: rem( 96 );
		}
	}

	&__subheading {
		font-family: $font-marker;
		font-size: rem( 18 );

		@include breakpoint( small down ) {
			@include block-center;
			max-width: rem( 260 );
		}

		@include breakpoint( medium ) {
			max-width: rem( 290 );
			margin-right: 0;
			margin-left: auto;
			font-size: rem( 22 );
		}
	}
}
