.section-app-download-bar {
	$self: &;
	padding-top: rem( 50 );
	padding-bottom: rem( 50 );

	@include breakpoint( medium ) {
		padding-top: rem( 100 );
		padding-bottom: rem( 100 );
	}

	&__wrapper {
		@include make-container;
		display: flex;
		justify-content: flex-end;
	}

	&__content-wrapper {
		max-width: rem( 500 );
		//text-align: center;
	}

	&:not( #{$self}--dark-text ) {
		color: $white;

		& #{$self}__content {
			text-shadow: 0 2px 3px rgba( black, 0.8 );
		}
	}

}
