.section-blog-posts {
	$self: &;
	padding-top: rem( 50 );
	padding-bottom: rem( 50 );

	@include breakpoint( medium ) {
		padding-top: rem( 100 );
		padding-bottom: rem( 100 );
	}

	&__wrapper {
		@include make-container;
	}

	&__list {
		display: grid;
		grid-template: auto / auto;
		gap: $global-grid-gap;
		margin: 0;
		padding: 0;
		list-style: none;

		@include breakpoint( medium ) {
			grid-template: auto / repeat( 2, 1fr );
		}

		@include breakpoint( large ) {
			grid-template: auto / repeat( 3, 1fr );
			gap: $global-grid-gap * 2;
		}
	}

	&__list-item {
		display: flex;
		flex-direction: column;
		position: relative;
		list-style-type: none;
		box-shadow: $global-box-shadow;

		> * {
			flex: 0 1 100%;
			z-index: 1;
		}
	}

	&__load-more-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;

		> * {
			margin: $global-grid-gap 0 0;
			width: 100%;

			@include breakpoint( large ) {
				margin: ( $global-grid-gap * 2 ) 0 0;
			}
		}
	}
}
