.section-food-menu {
	margin-top: rem( 50 );
	margin-bottom: rem( 50 );

	@include breakpoint( medium ) {
		margin-top: rem( 100 );
		margin-bottom: rem( 100 );
	}

	&__wrapper {
		@include make-container( 780 );
	}

	&__heading {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		@include heading-underline;
	}

	&__menu {
		display: grid;
		grid-template: auto / auto;
		row-gap: $global-grid-gap;
		margin: rem( $global-grid-gap * 2 ) 0;
		padding: 0;
		list-style: none;
		@include breakpoint( medium ) {
			row-gap: $global-grid-gap * 2;
			grid-template: 1fr / repeat( 2, 1fr );
			margin: rem( $global-grid-gap * 4 ) 0;
			column-gap: rem( 70 );
		}
		@include breakpoint( large ) {
			column-gap: rem( 140 );
		}
	}

	&__item-heading {
		margin-top: 0;
		margin-bottom: 0.5em;
	}

	&__item-description,
	&__item-description p {
		margin-top: 0.5em;
		margin-bottom: 0;
	}
}
