.masthead {
	$self: &;
	position: absolute;
	z-index: 2;
	top: 0;
	width: 100%;
	padding: 22px 0;
	transition: 0.2s all ease-in-out;

	@include breakpoint( medium ) {
		position: fixed;
	}

	body.admin-bar & {
		top: 32px;
		@media screen and ( max-width: 782px ) {
			top: 46px;
		}
	}

	&--sticky {
		padding: 12px 0;
		box-shadow: 0 3px 15px 0 rgba( 74, 74, 74, 0.125 );
	}

	&__hamburger {
		position: absolute;
		top: 50%;
		right: rem-calc( 15 );
		transform: translateY( -50% );

		@include breakpoint( medium ) {
			display: none;
		}
	}
}
