@import "single-location/location-contact";
@import "single-location/location-hours";

.page-single-location {
	.page-header__wrapper {
		display: grid;
		grid-template: "contact" auto "hours" auto / 1fr;
		// align-items: end;
		gap: $global-grid-gap;

		@include breakpoint( medium ) {
			/* autoprefixer: ignore next */
			justify-content: center;
		}

		@include breakpoint( large ) {
			grid-template: "hours contact" auto / 1fr rem( 550 );
			// grid-template-columns: 1fr rem( 550 );
			gap: $global-grid-gap * 3;
		}
	}

	.page-header__content-wrapper {
		grid-area: contact;
		max-width: none;
		margin: 0;

		@include breakpoint( medium down ) {
			transform: none;
		}
	}

	.location-hours {
		grid-area: hours;

		@include breakpoint( large ) {
			transform: translateY( rem( 55 ) );
		}
	}
}
