.location-contact {
	display: grid;
	grid-template: "col1" auto "col2" auto / 1fr;
	gap: $global-grid-gap;

	@include breakpoint( medium ) {
		grid-template-columns: repeat( 2, auto );
	}

	&__button {
		display: block;
	}

	&__button:not( :last-of-type ) {
		margin-bottom: rem( $global-grid-gap );
	}

	&__col:first-child {
		grid-area: col1;
	}

	&__col:last-child {
		grid-area: col2;

		@include breakpoint( medium ) {
			text-align: right;
		}
	}

	address {
		font-style: inherit;
	}
}
