.location-hours {
	margin: 1rem 0;
	font-size: rem( 14 );

	&__inner {
		padding: rem( $global-grid-gap );
		background: $white;
	}

	@include breakpoint( medium down ) {
		order: 2;
		margin-top: 0;
	}

	@include breakpoint( large ) {
		margin: 0;
	}

	&__table {
		margin-bottom: 0;
	}

	&__time {
		text-align: right;
	}

	&__cell {
		border-bottom: 1px solid $color-gray-light;
	}
}
