.location-contact {
	display: grid;
	grid-template: "col1" auto "col2" auto / 1fr;
	gap: $global-grid-gap;

	@include breakpoint( medium ) {
		grid-template-columns: repeat( 2, auto );
	}

	&__button {
		display: block;
	}

	&__button:not( :last-of-type ) {
		margin-bottom: rem( $global-grid-gap );
	}

	&__col:first-child {
		grid-area: col1;
	}

	&__col:last-child {
		grid-area: col2;

		@include breakpoint( medium ) {
			text-align: right;
		}
	}

	address {
		font-style: inherit;
	}

	&__note {
		margin: 1rem 0;
		padding: 1rem;
		background: #f9a31a;
		box-shadow: 0 0.25rem 1.125rem rgba( 37, 37, 37, 0.3 );
		font-weight: bold;

		a {
			opacity: 0.65;
			color: inherit;
			text-decoration: underline;
		}
	}
}
