.question-blocks {
	display: grid;
	grid-template:
		"col1" auto
		"col2" auto
		"col3" auto
		"col4" auto / 1fr;
	gap: $global-grid-gap;
	transform: translateY( $global-grid-gap );

	@include breakpoint( medium ) {
		grid-template:
			"col1 col2" auto
			"col3 col4" auto / 1fr 1fr;
		transform: translateY( rem( 55 ) );
	}

	@for $i from 1 through 4 {
		> :nth-child( #{ $i } ) {
			grid-area: col#{ $i };
		}
	}

	&__block-wrapper {
		padding: $global-grid-gap;
		transition: transform 0.2s ease-in;
		border: 0;
		background: $white;
		box-shadow: $global-box-shadow;
		font-family: $font-sans-slim;
		font-size: rem( 18 );
		text-transform: uppercase;
		cursor: pointer;
		@include breakpoint( medium ) {
			font-size: rem( 22 );

			&:hover {
				transform: translate3d( 0, rem( -2 ), 0 );
			}
		}
	}

	&__inner {
		//
	}
}
